body {
    height: 200vh;
}
.header {
    display: flex;
    margin: 92px 24px 96px;
    height: 105px;
    justify-content: space-between;
}
.header__logo-image {
    width: 148px;
    height: 105px;
    margin: 0;
    padding-left: 5px;
}
.header__links-list {
    display: flex;
    gap: 30px;
    font-size: 18px;
    padding-left: 29px;
    padding-top: 4px;
}
.link-1 , link-2 {
    text-decoration: underline;
}
.header__adress {
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 70px;
    font-size: 18px;
    gap: 3px;
}
.header__links-list-item_no-bullet {
    list-style: none;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.hero {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    width: 1100px;
    height: 757px;
}
.cover-text {
    color: white;
    font-weight: normal;
    word-spacing: 10px;
    font-size: 25px;
}
.bet-button {
    margin: 0;
    padding: 0;
    width: 256px;
    height: 51px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
}
.span-ono , .span-tebe , .span-nado  {
    color: white;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
}
.cover-title {
}
.on {
    text-align: left;
}
.teb {
    text-align: center;
}
.ado {
    text-align: right;
}
.lots-card {
    width: 1500px;
    height: 692px;
    margin-top: 179px;
    display: flex;
    flex-direction: column;
}
.lot-1 {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}
.lot-2 {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}
.lot-3 {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
}
.lots {
    display: flex;
    gap: 25px;
    margin-left: 25px;

}
.text-more {
    width: 250px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    text-decoration: underline;
    justify-content: flex-end;
    font-family: Raleway, sans-serif;
}
.lot-1 , .lot-3 {
    width: 334px;
    height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lot-2 {
    width: 334px;
    height: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lot-description-1 , .lot-description-2 , .lot-description-3 {
    color: white;
    font-size: 20px;
}
.lot-title-1 , .lot-title-2 , .lot-title-3 {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 21px;
    display: flex;
    flex-direction: column;
}
.text-LOTS {
    width: 250px;
    font-size: 35px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.lot-title-2 {
    margin-top: 5px;
    font-size: 22px;
}
.lot-1 {
    gap: 152px;
}
.lot-title-1 {
    margin-top: 7px;
    margin-left: 40px;
    font-size: 22px;
}
.lot-description-1 {
    margin-left: 40px;
}
.lot-3 {
    gap: 15px;
}
.lot-description-2 {

}
.lot-title-3 {
    margin-left: 43px;
    margin-top: 10px;
    font-size: 22px;
}
.lot-description-3 {
    margin-left: 43px;
    margin-bottom: 8px;
}
.ABOUT {
    margin-top: 146px;
}

.black-circle {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-top: 37px;
    margin-left: 70px;
}
.about-text {
    display: flex;
    justify-content: space-between;
}
.text-1 , .text-2 {
    font-size: 20px;
}
.text-title {
    width: 291px;
    height: 226px;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 45px;
    justify-content: center;
}
.about-title {
    width: 65%;
    height: 100%;
    margin-left: 43px;
}
.text-1 {
margin-top: 13px;
}
.text-2 {
margin-top: 23px;
}
.footer {
    width: 1000px;
    height: 98px;
    margin-top: 180px;
}
.footer-logo-1 , .footer-logo-2 , .footer-logo-3 {
    width: 48px;
    height: 48px;
    margin-left: 48px;
}
.footer-logos {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav {
    width: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    align-items: center;
    margin-left: 100px;
    margin-right: 10px;
}
.footer {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.footer__adress {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    justify-content: flex-start;
    gap: 5px;
}
.nav-1 , .nav-2 , .nav-3 {
    display: flex;
    text-align: center;
}
.address {
    text-decoration: none;
}