body {
    height: 100vh;
}
.header {
    display: flex;
    margin: 92px 24px 96px;
    height: 105px;
    justify-content: space-between;
}
.header__logo-image {
    width: 100%;
    height: 100%;
}
.header__links-list {
    display: flex;
    gap: 30px;
    align-items: f;
}
.header__adress {
    display: flex;
    flex-direction: column;
}
.header__links-list-item_no-bullet {
    list-style: none;
}
.main {
    position: relative;
    width: 1100px;
    height: 607px;
    display:flex

}
.cover_title {
    position: absolute;
    z-index: 1;
    letter-spacing: 10px;
    word-spacing: 100px;
    color: white;
    font-weight: bold;
}
.overlay {
    width: 1100px;
}
.cover-description-text {
    position: absolute;
    color: white;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.bet-button {
    position: absolute;
}
.lot-1 , .lot-2 , .lot-3 {
    width: 334px;
    height: 563px;
    position: absolute;
}
.lots-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lot-1 {
    z-index: 1;
    left: 24px;

}