body {
    height: 200vh;
}
.header {
    display: flex;
    margin: 92px 24px 96px;
    height: 105px;
    justify-content: space-between;
}
.header__logo-image {
    width: 100%;
    height: 100%;
}
.header__links-list {
    display: flex;
    gap: 30px;
}
.header__adress {
    display: flex;
    flex-direction: column;
}
.header__links-list-item_no-bullet {
    list-style: none;
}
.hero {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    width: 1100px;
    height: 700px;

}
.cover_title {
    letter-spacing: 10px;
    word-spacing: 100px;
    color: white;
    width: 637px;
    height: 28px;
}
.cover-description-text {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: normal;
    word-spacing: 10px;
    font-size: 25px;
    position: relative;
    top: 565px;
}
.bet-button {
    margin: 0;
    padding: 0;
    width: 256px;
    height: 51px;
    position: relative;
    left: 175px;
    top: 565px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
}
.lot-1 , .lot-2 , .lot-3 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lots-card {
    width: 1052px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.lot-1 {
    padding: 0;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}
.lot-2 {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}
.lot-3 {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
}
.lot-title-1 , .lot-title-2 , .lot-title-3 {
    color: white;
    text-decoration: underline;
    padding-top: 20px;
    padding-left: 20px;
}
.lot-description-1 , .lot-description-2 , .lot-description-3 {
    color: white;
    padding-bottom: 20px;
    padding-left: 13px;
}
.about {
    width: 1052px;
    height: 595px;
    display: flex;
    align-items: center;
}
.black-circle {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.about-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-all-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-logo-1 , .footer-logo-2 , .footer-logo-3 {
    width: 48px;
    height: 48px;
}
.footer-logos {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
p {

}
.footer {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.footer__adress {
    display: flex;
    flex-direction: column;
}
.lots {
    display: flex;
    flex-direction: row;
}
.text-LOTS {
    margin-top: 150px;
    margin-bottom: 20px;
}
.text-more {
    margin-top: 20px;
    text-decoration: underline;
}